USE [master]
GO
/****** Object:  Database [JavaAdv]    Script Date: 2/12/2026 9:43:34 PM ******/
CREATE DATABASE [JavaAdv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JavaAdv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JavaAdv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JavaAdv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JavaAdv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaAdv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaAdv]
GO
/****** Object:  Table [dbo].[Polaznik]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polaznik](
	[PolaznikID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](100) NOT NULL,
	[Prezime] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PolaznikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramObrazovanja]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramObrazovanja](
	[ProgramObrazovanjaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[CSVET] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramObrazovanjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Upis]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upis](
	[UpisID] [int] IDENTITY(1,1) NOT NULL,
	[IDProgramObrazovanja] [int] NULL,
	[IDPolaznik] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UpisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Upis]  WITH CHECK ADD  CONSTRAINT [FK_Upis_Polaznik] FOREIGN KEY([IDPolaznik])
REFERENCES [dbo].[Polaznik] ([PolaznikID])
GO
ALTER TABLE [dbo].[Upis] CHECK CONSTRAINT [FK_Upis_Polaznik]
GO
ALTER TABLE [dbo].[Upis]  WITH CHECK ADD  CONSTRAINT [FK_Upis_ProgramObrazovanja] FOREIGN KEY([IDProgramObrazovanja])
REFERENCES [dbo].[ProgramObrazovanja] ([ProgramObrazovanjaID])
GO
ALTER TABLE [dbo].[Upis] CHECK CONSTRAINT [FK_Upis_ProgramObrazovanja]
GO
/****** Object:  StoredProcedure [dbo].[DodajNoviProgramObrazovanja]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DodajNoviProgramObrazovanja] 
	@nazivPO NVARCHAR(100), 
	@csvetPO int
AS
BEGIN
	INSERT INTO ProgramObrazovanja(Naziv, CSVET)
	VALUES (@nazivPO, @csvetPO)
END
GO
/****** Object:  StoredProcedure [dbo].[DodajNovogPolaznika]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DodajNovogPolaznika] 
	@imePolaznika NVARCHAR(100), 
	@prezimePolaznika NVARCHAR(100)
AS
BEGIN
	INSERT INTO Polaznik(Ime, Prezime)
	VALUES (@imePolaznika, @prezimePolaznika)
END
GO
/****** Object:  StoredProcedure [dbo].[PrebaciPolaznikaUDrugiPO]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PrebaciPolaznikaUDrugiPO]
	@idPOPrebacitiIz int,
	@idPOPrebacitiU int,
	@idPolaznika int
AS
BEGIN
BEGIN TRANSACTION
	DELETE FROM Upis WHERE IDPolaznik=@idPolaznika AND IDProgramObrazovanja=@idPOPrebacitiIz

	INSERT INTO Upis(IDProgramObrazovanja, IDPolaznik)
	VALUES (@idPOPrebacitiU, @idPolaznika)
COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[PregledPolaznikaPoPO]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PregledPolaznikaPoPO]
	@idPO int
AS
BEGIN
	SELECT p.*
	FROM ProgramObrazovanja po 
	INNER JOIN Upis u 
	ON po.ProgramObrazovanjaID = u.IDProgramObrazovanja
	INNER JOIN Polaznik p 
	ON p.PolaznikID = u.IDPolaznik
	WHERE po.ProgramObrazovanjaID=@idPO
END
GO
/****** Object:  StoredProcedure [dbo].[UpisiPolaznikaNaPO]    Script Date: 2/12/2026 9:43:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[UpisiPolaznikaNaPO]
	@POId int, 
	@PolaznikId int
AS
BEGIN
	INSERT INTO Upis(IDProgramObrazovanja, IDPolaznik)
	VALUES (@PolaznikId, @POId)
END
GO
USE [master]
GO
